/explore/logs/*.log
/explore/logs/2020-08/project-info-08-08-2020-1.log.gz
/explore/logs/2020-08/project-info-08-14-2020-1.log.gz
/explore/logs/2020-08/project-info-08-20-2020-1.log.gz
/explore/logs/2020-09/project-info-09-07-2020-1.log.gz
